<div class="flex flex-col">
  <div class="flex flex-col-reverse">
    @for(activity of activities; track activity.id) {
      @if(getType(activity.type) === 'EDIT') {
        <div class="flex gap-2 items-start py-1">
          <div class="flex flex-col items-center gap-0.5">
            <div class="w-2 h-2 rounded-full bg-gray-300"></div>
            <div class="min-h-8 h-fit w-[.1em] bg-gray-200"></div>
          </div>
          <span class="text-base">{{ activity.message + ' on ' + getDate(activity.createdAt) }}</span>
        </div>
      }

      @if(getType(activity.type) === 'COMMENT') {
        <div class="flex gap-2 items-start py-1">
          <div class="flex flex-col items-center gap-0.5">
            <div class="w-2 h-2 rounded-full bg-gray-300"></div>
            <div class="min-h-8 h-full w-[.1em] bg-gray-200"></div>
          </div>

          <div class="border-[.1em] border-gray-200 w-full overflow-hidden rounded-sm">
            <span class="text-[.8em] px-2 py-1 bg-gray-100 border-b-[.1em] border-gray-200 w-full flex flex-wrap gap-2 items-center justify-between">
              <span>{{ activity.author + ' commented' }}</span>
              <span>{{ getDate(activity.createdAt) }}</span>
            </span>
            <div class="p-2">
              <span>{{ activity.message }}</span>
            </div>
          </div>
        </div>
      }
    }

    @if(hasMore) {
      <div class="w-full p-2 flex flex-col gap-1">
        <button class="mx-auto text-base font-medium border-[.1em] border-gray-200 px-2 py-1 cursor-pointer rounded-sm text-gray-500" type="button" (click)="loadPrevious()">Load Previous</button>
        <div class="mx-auto w-[.1rem] h-[1rem] bg-gray-200"></div>
      </div>
    }
  </div>

  <div class="flex flex-col justify-center gap-4 py-4">
    <textarea class="text-base w-full border-[.1em] border-gray-200 p-2 outline-none focus:border-lime-500 rounded-sm" placeholder="Enter a comment..." #message></textarea>
    <button class="max-w-[150px] text-base p-2 bg-lime-500 hover:bg-lime-600 text-white font-medium cursor-pointer rounded-sm" type="button" (click)="comment(message.value)">Comment</button>
  </div>
</div>
