<div class="w-full h-full p-8">
  @if ((tickets$ | async)?.length != 0) {
    <div>
      <table class="rounded-sm overflow-hidden">
        <thead class="border-b-[.1em] border-gray-200">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created By</th>
            <th>Priority</th>
            <th></th>
          </tr>
        </thead>
  
        <tbody>
          @for (ticket of (tickets$ | async); track ticket.id) {
            <tr>
              <td data-title="Id: ">{{ ticket.id }}</td>
              <td data-title="Title: ">{{ ticket.title }}</td>
              <td data-title="Created By: ">{{ ticket.createdBy.firstname }}</td>
              <td data-title="Priority: ">
                <span class="text-[.8rem] py-2 px-4 rounded-[4em]" [class]="{'low': ticket.priority === 'LOW', 'medium': ticket.priority === 'MEDIUM' , 'high': ticket.priority === 'HIGH' }">{{ ticket.priority }}</span>
              </td>
              <td><a class="text-base text-blue-700 cursor-pointer" routerLink="{{ ticket.id }}">View</a></td>
            </tr>
          }
        </tbody>
      </table>

      @if(page['next'] || page['prev']) {
        <div class="flex gap-4 py-4">
          @if(page['prev']) {
            <span class="text-base font-medium cursor-pointer p-1 rounded-full hover:bg-gray-200" (click)="prev()">
              <fa-icon [icon]="'angles-left'"></fa-icon>
            </span>
          }
          <span class="text-base font-bold cursor-pointer py-1">{{ count+1 }}</span>
  
          @if(page['next']) {
            <span class="text-base font-medium cursor-pointer p-1 rounded-full hover:bg-gray-200" (click)="next()">
              <fa-icon [icon]="'angles-right'"></fa-icon>
            </span>
          }
        </div>
      }
    </div>
  }

  @if ((tickets$ | async)?.length == 0) {
    <span class="text-base font-medium">No tickets available....</span>
  }
</div>
