table {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

table th, table td {
  font-size: 1rem;
  padding: 1em;
  text-align: left;
}

table tr {
  border-bottom: .1em solid #e5e7eb;
}


@media screen and (max-width: 980px) {
  table {
    background: transparent;
    overflow: auto;
    box-shadow: none;
  }

  table tbody,
  table tr,
  table td {
    display: block;
  }

  table thead {
    display: none;
  }

  table tr {
    background-color: #fff;
    border-bottom: none;
    margin: 1em 0;
    border-radius: .2em;
    padding: 1em;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  table td {
    padding: .5em 1em;
  }
  table td::before {
    content: attr(data-title);
    font-weight: bold;
  }
}

.low {
  background-color: #b9f8cf;
  color: oklch(0.627 0.194 149.214);
}

.medium {
  background-color: #fee685;
  color: oklch(0.666 0.179 58.318);
}

.high {
  background-color: oklch(0.885 0.062 18.334);
  color: oklch(0.577 0.245 27.325);
}