<div class="position-fixed w-100 h-100 d-flex align-items-center justify-content-center" style="z-index: 2; background-color: rgba(0, 0, 0, 0.151);">
    <div class="card border-0 p-3" style="min-width: 80%; max-width: 750px;">
        <h5>Edit User</h5>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="user.email">
              </div>

            <div class="form-group mt-2">
              <label for="name">Username</label>
              <input type="text" class="form-control" id="name" placeholder="Username" disabled="true">
            </div>

            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="Password">
            </div>

            <div class="form-group mt-2">
                <label for="role">Role</label>
                <div class="form-control d-flex align-items-center justify-content-start gap-2" id="role">
                    <div class="flex-grow-1">
                        <p class="m-0">{{ user.role }}</p>
                    </div>
                    
                    <div [ngClass]="{'rotate': selectRole, 'normal': !selectRole}">
                        <fa-icon [icon]="faArrowDown" class="text-secondary" style="cursor: pointer;" (click)="selectRole = !selectRole"></fa-icon>
                    </div>
                </div>

                @if (selectRole) {
                    <ul class="list-group mt-1">
                        @for (role of getRoles(); track role) {
                            @if (!(user.role == role)) {
                                <li class="list-group-item" style="cursor: pointer;" (click)="setRole(role)">{{ role }}</li>
                            }
                        }
                    </ul>
                }
            </div>


            <button type="submit" class="btn btn-sm fill-btn mt-3 me-2">Save</button>
            <button type="button" class="btn btn-sm border-btn mt-3" (click)="cancel()">Cancel</button>
          </form>
    </div>
</div>
