<div class="fixed w-screen h-screen flex items-center justify-center translucent-bg p-4">
  <div class="w-[min(100%,650px)] flex flex-col p-4 gap-4 rounded-sm shadow-sm bg-white">
    <h1 class="text-2xl font-medium">{{ 'Reset Password, For ' + user?.firstname}} </h1>

    <form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm" for="updatedPassword">Updated Password</label>
        <div class="border-[.1em] border-gray-200 p-2 rounded-sm flex items-center gap-1 focus-within:border-lime-500">
          <input class="grow-1 outline-none" placeholder="Enter updated password..." id="updatedPassword" [type]="passwordType['updatedPassword']" formControlName="updatedPassword" #upass>
          <fa-icon class="text-sm" [icon]="password['updatedPassword']? 'eye' : 'eye-slash'" class="text-gray-500 cursor-pointer" (click)="showPassword('updatedPassword')"></fa-icon>
        </div>
        @if(formErrors && (formControls['updatedPassword'].errors && formControls['updatedPassword'].errors['required'])) {
          <span class="text-sm text-red-500">*Required password</span>
        }
        @if(formErrors && (formControls['updatedPassword'].errors && formControls['updatedPassword'].errors['minlength'])) {
          <span class="text-sm text-red-500">*Pasword must have minimum 8 character</span>
        }
      </div>

      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm" for="confirmPassword">Confirm Password</label>
        <div class="border-[.1em] border-gray-200 p-2 rounded-sm flex items-center gap-1 focus-within:border-lime-500">
          <input class="grow-1 outline-none" placeholder="Confirm password..." id="confirmPassword" [type]="passwordType['confirmPassword']" formControlName="confirmPassword" #cpass>
          <fa-icon class="text-sm" [icon]="password['confirmPassword']? 'eye' : 'eye-slash'" class="text-gray-500 cursor-pointer" (click)="showPassword('confirmPassword')"></fa-icon>
        </div>
        @if(formErrors && (formControls['confirmPassword'].errors && formControls['confirmPassword'].errors['required'])) {
          <span class="text-sm text-red-500">*Required password</span>
        }
        @if(formErrors && (formControls['confirmPassword'].errors && formControls['confirmPassword'].errors['minlength'])) {
          <span class="text-sm text-red-500">*Pasword must have minimum 8 character</span>
        }
        @if(formErrors && (!formControls['confirmPassword'].errors && upass.value != cpass.value)) {
          <span class="text-sm text-red-500">*Update password and Confirm password not match</span>
        }
      </div>

      <div class="flex gap-4">
        <button class="text-base font-medium px-2 py-1 bg-lime-500 border-[.1em] border-lime-500 text-white rounded-sm cursor-pointer hover:bg-lime-600 hover:border-lime-600" type="submit">Reset</button>
        <button class="text-base font-medium px-2 py-1 bg-white border-[.1em] border-lime-500 text-lime-500 rounded-sm cursor-pointer hover:bg-gray-100" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
