.side-nav {
    background-color: rgb(86, 71, 235);
    height: 100%;
    width: 50%;
}

.form-div {
    height: 100%;
    width: 50%;
}

.btn {
    font-weight: bold;
    border: .1rem solid transparent;
}

.fill-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(86, 71, 235);
    border-color: rgb(86, 71, 235);
}

.fill-btn:hover {
    background-color: rgb(75, 62, 214);
    border-color: rgb(75, 62, 214);
}

.border-btn {
    color: rgb(86, 71, 235);
    background-color: rgb(255, 255, 255);
    border-color: rgb(86, 71, 235);
}

.border-btn:hover {
    color: rgb(75, 62, 214);
    border-color: rgb(75, 62, 214);
}

@media screen and (max-width: 520px) {
    .main-window {
        width: 100%;
        flex-direction: column;
    }
    .side-nav {
        height: auto;
        width: 100%;
        padding: 2rem;
    }
    .form-div {
        height: auto;
        width: 100%;
        padding: 2rem;
    }
}