fa-icon {
  font-size: 1rem;
}

.navbar {
  display: none;
}

.nav-toggle:checked + .sidenav {
  display: flex;
  left: 0%;
  transition: all .4s linear;
}

.gone {
  display: none;
}

.active {
  background-color: oklch(0.768 0.233 130.85);
  color: #fff;
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  .gone {
    display: block;
  }
  .sidenav {
    position: fixed;
    left: -100%;
    transition: all .4s linear;
    height: 100vh;
  }
  .navbar {
    display: flex;
  }
}