@if(ticketToggle) {
  <div class="fixed left-0 w-screen h-screen">
    <app-create-ticket (toggle)="ticketToggle = false"></app-create-ticket>
  </div>
}

<div class="w-screen h-screen flex wrapper">
  <input type="checkbox" id="nav-toggle" class="fixed hidden nav-toggle">
  <div class="bg-white min-w-[min(250px,100%)] flex flex-col gap-4 p-4 shadow-sm sidenav">
    <div class="flex items-center gap-2">
      <div class="w-[2rem] h-2[rem] mb-[.7em]">
        <img class="w-full h-full object-contain" src="asset/icon.svg" alt="logo">
      </div>
      <h1 class="text-[1.8rem] text-lime-600 font-semibold px-2">Latte</h1>
      <label for="nav-toggle" class="cursor-pointer gone"><fa-icon class="text-lime-600" [icon]="'angles-left'"></fa-icon></label>
    </div>

    <div class="h-full flex flex-col">
      <div class="flex flex-col gap-2">
        <a class="text-gray-600 text-base font-medium  p-2 rounded-sm cursor-pointer flex items-center gap-2" (click)="createTicket()">
          <fa-icon [icon]="'pen'"></fa-icon>
          <span>Create Ticket</span>
        </a>
  
        <a class="text-gray-600 text-base font-medium p-2 rounded-sm cursor-pointer flex items-center gap-2" routerLink="/home/dashboard" routerLinkActive="active">
          <fa-icon [icon]="'house'"></fa-icon>
          <span>Dashboard</span>
        </a>
  
        <a class="text-gray-600 text-base font-medium p-2 rounded-sm cursor-pointer flex items-center gap-2" routerLink="/home/tickets" routerLinkActive="active">
          <fa-icon [icon]="'ticket'"></fa-icon>
          <span>Tickets</span>
        </a>
      </div>
  
      <div class="mt-auto flex flex-col gap-2">
        @if (isAdmin()) {
          <span class="text-gray-800 text-base font-medium px-2 rounded-sm">ADMIN</span>
          <a class="text-gray-600 text-base px-2 rounded-sm cursor-pointer" routerLink="/home/users">Users</a>
        }
        <span class="text-gray-600 text-base px-2 rounded-sm cursor-pointer">Version - <span class="text-sm text-neutral-800 font-bold bg-lime-100 py-1 px-2 rounded-sm">{{ version }}</span></span>

        <div class="flex gap-2 p-2 items-center mt-4 cursor-pointer" routerLink="/home/profile">
          <div class="w-[2.2rem] h-[2.2rem] rounded-[100%] flex items-center justify-center" [style.background-color]="color(firstname)">
            <span class="text-base text-white font-bold">{{ firstname.charAt(0) }}</span>
          </div>

          <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-600">{{ firstname }}</span>
            <span class="text-sm text-gray-600 font-medium">View Profile</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm navbar p-4 items-center">
    <div class="w-[2rem] h-2[rem] mb-[.7em]">
      <img class="w-full h-full object-contain" src="asset/icon.svg" alt="logo">
    </div>
    <h1 class="text-[1.8rem] text-lime-600 font-semibold px-2">Latte</h1>
    <label for="nav-toggle" class="cursor-pointer"><fa-icon class="text-lime-600" [icon]="'angles-right'"></fa-icon></label>
  </div>

  <div class="grow overflow-y-scroll">
    <router-outlet></router-outlet>
  </div>
</div>