@if(confirmToggle) {
  <div class="fixed w-screen h-screen left-0">
    <app-confirm [message]="message" (state)="trigger($event)"></app-confirm>
  </div>
} 

<div class="w-full p-8 flex flex-col gap-4">
  <div class="flex flex-col gap-1">
    <h1 class="text-3xl font-bold">Profile</h1>
    <span class="text-base">The information is related to your account so be careful while updating</span>
  </div>
  
  <div class="bg-white rounded-sm shadow-sm p-8">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm" for="firstname">Firstname</label>
        <input class="text-base border-[.1em] border-gray-200 p-2 rounded-sm outline-none focus:border-lime-500" type="text" id="firstname" [value]="update?.firstname" (input)="changeFirstname(firstname.value)" placeholder="Enter firstname for user..." formControlName="firstname" #firstname>
        @if(updateFormErrors && (updateControls['firstname'].errors && updateControls['firstname'].errors['required'])) {
          <span class="text-sm text-red-500">*Required firstname</span>
        }
      </div>
    
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm" for="email">Email</label>
        <input class="text-base border-[.1em] border-gray-200 p-2 rounded-sm outline-none focus:border-lime-500" type="text" id="email" [value]="update?.email" (input)="changeEmail(email.value)" placeholder="Enter email for user..." formControlName="email" #email>
        @if(updateFormErrors && (updateControls['email'].errors && updateControls['email'].errors['required'])) {
          <span class="text-sm text-red-500">*Required email address</span>
        }
        @if(updateFormErrors && (updateControls['email'].errors && updateControls['email'].errors['email'])) {
          <span class="text-sm text-red-500">*Enter valid email address</span>
        }
      </div>
    
      <button class="text-base font-medium px-2 py-1 bg-lime-500 border-[.1em] border-lime-500 text-white rounded-sm cursor-pointer hover:bg-lime-600 hover:border-lime-600 disabled:bg-gray-400 disabled:border-gray-400 disabled:cursor-auto" [disabled]="!isUpdated">Save</button>  
    </form>
  </div>

  @if(resetToggle) {
    <div class="bg-white rounded-sm shadow-sm p-8">
      <h1 class="text-2xl font-medium mb-4">Reset Password</h1>
  
      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <div class="flex flex-col gap-1 my-4">
          <label class="text-sm" for="updatedPassword">Updated Password</label>
          <div class="border-[.1em] border-gray-200 p-2 rounded-sm flex items-center gap-1 focus-within:border-lime-500">
            <input class="grow-1 outline-none" placeholder="Enter updated password..." id="updatedPassword" [type]="passwordType['updatedPassword']" formControlName="updatedPassword" #upass>
            <fa-icon class="text-sm" [icon]="password['updatedPassword']? 'eye' : 'eye-slash'" class="text-gray-500 cursor-pointer" (click)="showPassword('updatedPassword')"></fa-icon>
          </div>
          @if(resetFormErrors && (resetControls['updatedPassword'].errors && resetControls['updatedPassword'].errors['required'])) {
            <span class="text-sm text-red-500">*Required password</span>
          }
          @if(resetFormErrors && (resetControls['updatedPassword'].errors && resetControls['updatedPassword'].errors['minlength'])) {
            <span class="text-sm text-red-500">*Pasword must have minimum 8 character</span>
          }
        </div>
  
        <div class="flex flex-col gap-1 my-4">
          <label class="text-sm" for="confirmPassword">Confirm Password</label>
          <div class="border-[.1em] border-gray-200 p-2 rounded-sm flex items-center gap-1 focus-within:border-lime-500">
            <input class="grow-1 outline-none" placeholder="Confirm password..." id="confirmPassword" [type]="passwordType['confirmPassword']" formControlName="confirmPassword" #cpass>
            <fa-icon class="text-sm" [icon]="password['confirmPassword']? 'eye' : 'eye-slash'" class="text-gray-500 cursor-pointer" (click)="showPassword('confirmPassword')"></fa-icon>
          </div>
          @if(resetFormErrors && (resetControls['confirmPassword'].errors && resetControls['confirmPassword'].errors['required'])) {
            <span class="text-sm text-red-500">*Required password</span>
          }
          @if(resetFormErrors && (resetControls['confirmPassword'].errors && resetControls['confirmPassword'].errors['minlength'])) {
            <span class="text-sm text-red-500">*Pasword must have minimum 8 character</span>
          }
          @if(resetFormErrors && (!resetControls['confirmPassword'].errors && upass.value != cpass.value)) {
            <span class="text-sm text-red-500">*Update password and Confirm password not match</span>
          }
        </div>
  
        <div class="flex gap-4">
          <button class="text-base font-medium px-2 py-1 bg-lime-500 border-[.1em] border-lime-500 text-white rounded-sm cursor-pointer hover:bg-lime-600 hover:border-lime-600">Reset</button>
          <button class="text-base font-medium px-2 py-1 bg-white border-[.1em] border-lime-500 text-lime-500 rounded-sm cursor-pointer hover:bg-gray-100" type="button" (click)="toggleReset()">Cancel</button>
        </div>
      </form>
    </div>
  }

  <div class="flex gap-2">
    @if(!resetToggle) {
      <button class="text-base font-medium px-2 py-1 bg-transparent border-[.1em] border-lime-500 text-lime-500 rounded-sm cursor-pointer hover:bg-gray-200" type="button" (click)="toggleReset()">Reset Password</button>
    }
    <button class="text-base font-medium px-2 py-1 bg-red-500 border-[.1em] border-red-500 text-white rounded-sm cursor-pointer hover:bg-red-600 hover:border-red-600" type="button" (click)="logout()">Logout</button>
  </div>
</div>