<div class="w-full p-4 flex flex-col gap-8">
  <div class="bg-white p-8 rounded-sm flex flex-col gap-2 shadow-sm">
    <h1 class="text-3xl font-extrabold ">{{ greet() + ', ' + firstname }}</h1>

    <div class="flex items-center gap-2">
      <div class="w-[3rem] h-[3rem] rounded-[100%] flex items-center justify-center" [style.background-color]="color(firstname)">
        <span class="text-base font-bold text-white">{{ firstname.charAt(0) }}</span>
      </div>

      <span class="text-base">{{ firstname }}</span>
    </div>
  </div>

  <div class="flex gap-8 flex-wrap">
    <div class="bg-white p-8 rounded-sm flex flex-col gap-2 w-[min(100%,400px)] shadow-sm">
      <span class="text-base">Open Tickets</span>
      <span class="text-4xl font-bold">{{ info?.total_tickets }}</span>
    </div>

    <div class="bg-white p-8 rounded-sm flex flex-col gap-2 w-[min(100%,400px)] shadow-sm">
      <span class="text-base">Completed Tickets</span>
      <span class="text-4xl font-bold">{{ info?.completed_tickets }}</span>
    </div>
  </div>
</div>
