<div class="w-full p-8 flex gap-8 flex-wrap">
  <div class="grow-1 min-w-[min(600px,100%)]">
    <div class="py-8 border-b-[.1em] border-gray-300 flex flex-col gap-2">
      <div class="flex gap-1 items-start justify-between">
        <h1 class="text-3xl font-bold">{{ ticket?.title }}</h1>

        @if(isAdmin()) {
          <div class="relative">
            <span class="w-2 h-2 rounded-full hover:bg-gray-100 flex items-center justify-center cursor-pointer p-4" (click)="deleteToggle = !deleteToggle">
              <fa-icon [icon]="deleteToggle? 'close' : 'ellipsis-vertical'"></fa-icon>
            </span>
  
            @if(deleteToggle) {
              <div class="absolute bg-white shadow-sm p-2 min-w-[min(100vw,120px)] right-0 flex items-center justify-center rounded-sm">
                <span class="cursor-pointer block w-full text-center text-red-600" (click)="delete()">Delete</span>
              </div>
            }
          </div>
        }
      </div>
      <span class="text-base font-bold">{{ 'Opened by: ' + ticket?.createdBy?.firstname }} </span>
    </div>

    <div class="py-8 flex flex-col gap-2 border-b-[.1em] border-gray-300">
      <h1 class="text-3xl font-medium">Issue</h1>
      <textarea class="text-base border-[.1em] border-transparent cursor-pointer focus:cursor-auto focus:border-lime-500 p-2 outline-none " placeholder="Ticket doesn't have any description" [value]="description" (input)="detectDescription(desc.value)" #desc></textarea>
      @if (descriptionChanged) {
        <div class="flex items-center gap-2">
          <button class="text-base font-medium px-2 py-1 bg-lime-500 border-[.1em] border-lime-500 text-white rounded-sm cursor-pointer hover:bg-lime-600 hover:border-lime-600" type="button" (click)="editDescription()">Edit</button>
          <button class="text-base font-medium px-2 py-1 bg-white border-[.1em] border-lime-500 text-lime-500 rounded-sm cursor-pointer hover:bg-gray-100" type="button" (click)="cancleDescrChanges()">Cancle</button>
        </div>
      }
    </div>

    <div class="py-8 flex flex-col gap-2">
      <h1 class="text-3xl font-medium">Activity</h1>
      <app-activity [ticketId]="ticketId" #activity></app-activity>
    </div>
  </div>

  <div class="border-l-[.1em] border-gray-300 w-[min(500px,100%)] meta">
    <div class="py-8 border-b-[.1em] border-gray-300 flex flex-col gap-2">
      <span class="text-base font-medium flex items-center gap-2" [class]="getStatus(ticket!.status) === 'OPEN'? 'text-green-400' : 'text-purple-400'">
        <fa-icon [icon]="'unlock'"></fa-icon>
        <span>{{ ticket?.status }}</span>
      </span>
        
      @if(!priorityToggle) {
        <span class="flex items-center gap-2 w-fit text-sm px-4 py-1 rounded-[5em] cursor-pointer p" [class]="{'low': ticket?.priority === 'LOW', 'medium': ticket?.priority === 'MEDIUM' , 'high': ticket?.priority === 'HIGH' }" (click)="priorityToggle = true">
          <span>{{ ticket?.priority }}</span>
          <fa-icon class="pi text-[.6rem]" [icon]="'pen'"></fa-icon>
        </span>
      }

      @if(priorityToggle) {
        <app-edit-priority [ticket]="ticket" (toggle)="priorityToggle = false" (changes)="refreshActivities()"></app-edit-priority>
      }



      <span class="flex items-center gap-2 text-base"> 
        <fa-icon [icon]="'calendar'" class="text-gray-400"></fa-icon>
        <span><span class="font-medium">Created on&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ getDate(ticket?.createdAt)}}</span>
      </span>

      <span class="flex items-center gap-2 text-base">
        <fa-icon [icon]="'calendar'" class="text-gray-400"></fa-icon>
        <span><span class="font-medium">Last updated&nbsp;&nbsp;</span>{{ (ticket?.lastUpdated? getDate(ticket?.lastUpdated) : getDate(ticket?.createdAt)) }}</span>
      </span>
    </div>

    <div class="py-8 border-b-[.1em] border-gray-300 flex flex-col gap-2">
      <div class="flex gap-1 items-center">
        <span class="text-base text-gray-400 font-medium">Assigned To</span>
      </div>
      @if(!assignToggle) {
        @if (ticket?.assignedTo) {
          <div class="flex gap-2 items-center">
            <div class="w-[2rem] h-[2rem] rounded-[100%] flex items-center justify-center" [style.background-color]="color(ticket?.assignedTo?.firstname)">
              <span class="text-base font-bold text-white">{{ ticket?.assignedTo?.firstname?.charAt(0) }}</span>
            </div>
            <span class="text-base">{{ ticket?.assignedTo?.firstname }}</span>
          </div>
        }
  
        @if(!ticket?.assignedTo) {
          <span class="text-base">None</span>
        }
        <span class="text-base text-blue-800 cursor-pointer underline" (click)="assignToggle = true">Edit</span>
      }

      @if(assignToggle) {
        <app-edit-assign [ticket]="ticket" (toggle)="assignToggle = false" (changes)="refreshActivities()"></app-edit-assign>
      }
    </div>

    <div class="py-8 flex flex-col gap-2">
      <span class="text-base text-gray-400 font-medium">Contact Details</span>
      <span class="text-base">{{ 'Name - ' + ticket?.createdBy?.firstname }}</span>
      <span class="text-base">{{ 'Email - ' + ticket?.createdBy?.email }}</span>
    </div>

    <div class="py-1 flex-col gap-2">
      <button class="text-base w-fit text-gray-600 px-4 py-1 gap-2 flex items-center border-[.1em] cursor-pointer border-gray-300 rounded-[2em] hover:bg-gray-200" type="button" (click)="updateStatus()">
        <span>{{ getStatus(ticket!.status) === 'OPEN'? 'Close Ticket' : 'Open Ticket' }}</span>
        @if(getStatus(ticket!.status) === 'OPEN') {
          <fa-icon class="text-[1.2rem text-purple-400" [icon]="'circle-check'"></fa-icon>
        }
      </button>
    </div>
  </div>
</div>